.dashboardMain {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	max-width: 2000px;
	margin: auto;
}

.dashboardChildren {
	width: 100%;
	height: 100vh;
	padding: 30px;
}
