.dashboardMain {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	max-width: 2000px;
	margin: auto;
}

.dashboardChildren {
	width: calc(100% - 250px);
	margin-left: 250px;
	height: 100vh;
	padding: 30px;
}

@media (max-width: 1024px) {
	.dashboardChildren{
		width: 100vw;
		margin: 0;
	}
}