.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .label {
    font-weight: 500;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 3px solid transparent;
    border-radius: 6px;
    font-size: 16px;
  }

  .input[type=number] {
    width: 130px;
  }
  
  .input:focus {
    border-color: var(--primary-color);
    outline: none;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .input:disabled{
    color: white;
  }